<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile page</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Luo uusi käyttäjätunnus</h1>
        
        
        
        <form th:action="@{/newaccount}" method="POST">
            <p>
            <span>Tunnus:</span>
            <input type="text" name="username" id="username"/>
            </p>
            <p>
            <span>Salasana:</span>
            <input type="password" name="password" id="password"/>
            </p>
            <p>
            <input type="submit" value="Luo tunnus"/>
            </p>
        </form>
    </body>
</html>
