<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cv And Employee Finder Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cv And Employee Finder Application</h1>
        <p>Logged in as <span th:text="${username}">username</span> <a th:href="@{/logout}">log out</a></p>
        <p>Welcome to Cv And Employee Finder Application, the <strong>best</strong> place for employers and employees to meet!</p>
        
        <p>Site still under construction...</p>
        
        <h2>Connections...</h2>
        
        <ul>
            <li th:each="connection: ${connections}">
                <span th:text="${connection.username}">Connection </span>
                <span th:text="${connection.accepted}"> accepted</span>
            </li>
            
            
        </ul>
        
        <h2>Search for connections</h2>

        
        <div>
            <form th:action="@{/search}" method="GET">
                <input type="text" name="name"/>
                <input type="submit" value="Search"/>
            </form>
        </div>
        
        
        
    </body>
</html>
