<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cv And Employee Finder Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cv And Employee Finder Application</h1>
        <p>Logged in as <span th:text="${username}">username</span> <a th:href="@{/logout}">log out</a></p>
        <p>Welcome to Cv And Employee Finder Application, the <strong>best</strong> place for employers and employees to meet!</p>
        
        <p>Site still under construction...</p>
        
        <h2>The wall</h2>
        
        <p>Users can add post for other users att <a th:href="@{/wall}">the wall.</a></p>
        
        <h2>Profile of user <span th:text="${username}">username</span></h2>
        
        <div th:if="${picId != null}">
            <img th:src="@{/{account}/files/{picId}/content(account=${username}, picId=${picId})}"/>
            <p>Change profile image</p>
 
            <form method="POST" th:action="@{/start/{accountId}/files(accountId=${username})}" enctype="multipart/form-data">
                <input type="file" name="file" id="file"/>
                <input type="submit" value="Change!"/>
            </form>
        </div>
        
        <div th:if="${picId == null}">
            <p>Add profile image</p>
 
            <form method="POST" th:action="@{/start/{accountId}/files(accountId=${username})}" enctype="multipart/form-data">
                <input type="file" name="file" id="file"/>
                <input type="submit" value="Add!"/>
            </form>
        </div>
        
        
        
        
        <h2>Connections</h2>
        
        <h3>Connection made</h3>
        
        <ul>
            <li th:each="connection: ${connections}">
                <a th:href="@{/users/{username}(username=${connection.username})}"><span th:text="${connection.username}">Connection </span></a>
                
                <form th:action="@{/accounts/{accountId}/{connection}(accountId=${username}, connection=${connection.username})}" th:method="DELETE">
                    <input type="submit" value="delete"/>
                </form>
            </li>
            
            
        </ul>
        
        <h3>Connection asked, but not yet accepted by another connection</h3>
        
        <ul>
            <li th:each="askedconnection: ${askedConnections}">
                <a th:href="@{/users/{username}(username=${askedconnection.username})}"><span th:text="${askedconnection.username}">Connection </span></a>
                <form th:action="@{/accounts/{accountId}/{connection}(accountId=${username}, connection=${askedconnection.username})}" th:method="DELETE">
                    <input type="submit" value="delete"/>
                </form>
            </li>
            
            
        </ul>
        
        <h3>Connection request received</h3>
        
        <ul>
            <li th:each="receivedconnection: ${receivedConnections}">
                <a th:href="@{/users/{username}(username=${receivedconnection.username})}"><span th:text="${receivedconnection.username}">Connection </span></a>
                <form th:action="@{/accounts/accept/{accountId}/{connection}(accountId=${username}, connection=${receivedconnection.username})}" th:method="POST">
                    <input type="submit" value="Accept request"/>
                </form>
                <form th:action="@{/accounts/{accountId}/{connection}(accountId=${username}, connection=${receivedconnection.username})}" th:method="DELETE">
                    <input type="submit" value="delete"/>
                </form>
                
<!--                <button name="button"> add to connections</button></li>-->
            </li>
        </ul>
        
        <h2>Search for connections</h2>

        
        <div>
            <form th:action="@{/search}" method="GET">
                <input type="text" name="name"/>
                <input type="submit" value="Search"/>
            </form>
        </div>
        
        <h2>Skills</h2>
        
        <h3>Top 3 skills</h3>
        <ol>
            <li th:each="skill: ${topSkills}">
                <strong><span th:text="${skill.name}">Skill</span> (<span th:text="${skill.likes}">like</span> likes)</strong>
                
<!--                <form th:action="@{/accounts/{accountId}/{connection}(accountId=${username}, connection=${connection.username})}" th:method="DELETE">
                    <input type="submit" value="delete"/>
                </form>-->
            </li>
            
            
        </ol>
        
        <h3>Other skills</h3>
        
        <ul>
            <li th:each="skill: ${otherSkills}">
                <span th:text="${skill.name}">Skill</span> (<span th:text="${skill.likes}">like</span> likes)
                
<!--                <form th:action="@{/accounts/{accountId}/{connection}(accountId=${username}, connection=${connection.username})}" th:method="DELETE">
                    <input type="submit" value="delete"/>
                </form>-->
            </li>
            
            
        </ul>
        
        <h3>Add new skill</h3>
        
        <div>
            <form th:action="@{/accounts/{accountId}/skills(accountId=${username})}" method="POST">
                <input type="text" name="skill"/>
                <input type="submit" value="Add skill"/>
            </form>
        </div>
        
        
        
    </body>
</html>
