<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cv And Employee Finder Application - POSTS</h1>
        
        <p>Logged in as <span th:text="${username}">username</span> <a th:href="@{/logout}">log out</a></p>
        <p><a th:href="@{/start}">back to start page</a></p>
        
        
        
<!--        <h2>Testing...</h2>
        
        <div th:if="${testinki.contains('aaa')}">
            aaa found!
        
        </div>
        -->
<!--        <ol>
            <li th:each="userslikes: ${test}">
                <span th:text="${test.likedpost.content}">post</span>
            </li>
        </ol>-->
        
        
        
        <h2>Add new post</h2>
        
        <div>
            <form th:action="@{/accounts/{accountId}/posts(accountId=${username})}" method="POST">
                <input type="text" name="posting"/>
                <input type="submit" value="Add post"/>
            </form>
        </div>
        
        <h2>Posts</h2>
        
        <ol>
            <li th:each="post: ${posts}">
                <span th:text="${post.content}">post</span> 
                <div><i>by <span th:text="${post.op.username}">user</span>
                        at <span th:text="${post.date}">date</span></div> 
                <div><span th:text="${post.likes}">like</span> likes</i></div>
                <div th:if="${userslikes.contains(post.id)}">
                    <strong>You like this post</strong>
                </div>
                
                <div th:unless="${userslikes.contains(post.id)}">
                    <form th:action="@{/posts/{id}/like/{account}(id=${post.id}, account=${username})}" th:method="POST">
                    <input type="submit" value="like"/>
                    </form>
                </div>
                
                
                <div>
                    <form th:action="@{/posts/{id}/comments(id=${post.id})}" method="POST">
                        <input type="text" name="comment"/>
                        <input type="submit" value="Add comment"/>
                    </form>
                </div>
                    <div><strong>Comments:</strong></div>
                <ul>
                    <span th:each="comment, iterStat: ${post.comments}">
                    <li th:if="${iterStat.index < 10}">
                            <span th:text="${comment.content}">comment</span>
                    </li>
                    </span>
                </ul>
            </li>
            
            
        </ol>
    </body>
</html>
